<h1>{{::team.name}}</h1>
<ul class="team list-group">
	<li ng-repeat="line in team.lines track by $index" class="line list-group-item">
		<div ng-repeat="player in line track by $index" class="player panel panel-default">
			<div class="panel-heading">
				{{::player.name}}
				<span ng-switch="player.status">
					<button ng-switch-default
							ng-click="play(player)"
							role="button"
							class="btn btn-success">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button ng-switch-when="playing"
							ng-click="stop(player)"
							role="button"
							class="btn btn-primary">
						<span class="glyphicon glyphicon-stop"></span>
					</button>
				</span>
				<button ng-click="removePlayer(line, $index)"
						role="button"
						class="btn btn-danger">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
			<div class="panel-body">
				<ol class="nya-bs-select"
					ng-model="player.environment"
					title="Environment"
					ng-change="saveTeam()">
					<li nya-bs-option="(environment, settings) in player.environments">
						<a>
							{{::environment}}
						</a>
					</li>
				</ol>
				<ol class="nya-bs-select" ng-model="player.script" title="Script" ng-change="saveTeam()">
					<li nya-bs-option="(label, script) in player.scripts">
						<a>
							{{::label}}
						</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="player">
			<form ng-submit="addPlayer(line, newPlayerName);newPlayerName=''">
				<input type="text"
					   ng-model="newPlayerName"
					   typeahead="pckg for pckg in pckgs | filter:$viewValue | limitTo:8"
					   placeholder="add player..."
					   class="form-control input-lg text-center">
			</form>
		</div>
		<button ng-click="removeLine($index)"
				role="button"
				class="btn btn-danger remove-line">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</li>
	<li ng-if="team.lines[team.lines.length - 1].length" class="line list-group-item">
		<button
				ng-click="addLine()"
				class="form-control input-lg">
			add line
		</button>
	</li>
</ul>
